sim.fits
nifty_maria/steering_dev/*
!nifty_maria/steering_dev/*.py
!nifty_maria/steering_dev/*.ipynp
nifty_maria/*.npy
nifty_maria/gifs/*.gif
nifty_maria/nifty_maria/__pycache__/
nifty_maria/nifty_maria.egg-info/